body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  color: #0856cb;
  background-color: #f0f8f7; /* Light green background color */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-container {
  text-align: center;
  background-color: #9DFFBD; /* Set background color for the content area */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #0856cb;
}